<!DOCTYPE html>
<html>
<head>
    <title>RUTA</title>

    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename="estilos.css")}}">

</head>
<body>
    <div class="ventana">
        <div class="fondo">
            <h1 class="label">ALUMNO</h1>

            <div class="form-row">
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" class="input-field">
            </div>

            <div class="form-row">
                <label for="apellido-paterno">Apellido paterno</label>
                <input type="text" id="apellido-paterno" class="input-field">
            </div>

            <div class="form-row">
                <label for="apellido-materno">Apellido materno</label>
                <input type="text" id="apellido-materno" class="input-field">
            </div>

            <div class="form-row">
                <label for="carrera">Carrera</label>
                <input type="text" id="carrera" class="input-field">
            </div>

            <div class="form-row">
                <label for="matricula">Matrícula</label>
                <input type="text" id="matricula" class="input-field">
            </div>

            <div class="form-row">
                <label for="ruta">Ruta</label>
                <input type="text" id="ruta" class="input-field">
            </div>

            <div class="form-row">
                <label for="turno">Turno</label>
                <input type="text" id="turno" class="input-field">
            </div>

            <div class="form-row">
                <label for="tipo-viaje">Tipo de viaje</label>
                <input type="text" id="tipo-viaje" class="input-field">
            </div>
    
            <div class="button-alumno">
                <button class="btn-reporte">Registrar</button>
                <button class="btn-reporte">Reporte</button>
              </div>
              
              
            
        </div>
    </div>
</body>
</html>
