<!DOCTYPE html>
<html>
<head>
    <title>AUTOBUS</title>

    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename="estilos.css")}}">

</head>
<body>
    <div class="ventana">
        <div class="fondo">
            <h1 class="label">AUTOBUS</h1>

            <div class="form-row">
                <label for="marca">Marca</label>
                <input type="text" id="marca" class="input-field">
            </div>

            <div class="form-row">
                <label for="modelo">Modelo</label>
                <input type="text" id="modelo" class="input-field">
            </div>

            <div class="form-row">
                <label for="matricula">Matricula</label>
                <input type="text" id="matricula" class="input-field">
            </div>

            <div class="form-row">
                <label for="asientos">N de asientos</label>
                <input type="text" id="asientos" class="input-field">
            </div>

            <div class="form-row">
                <label for="tanque">Capacidad de tanque</label>
                <input type="text" id="tanque" class="input-field-small">
            </div>


            <div class="button-autobus">
                <button class="btn-autobus1">Registrar Alumno</button>
                <button class="btn-autobus2">Generar reporte</button>
            </div>

        </div>
    </div>
</body>
</html>
