<!DOCTYPE html>
<html>
<head>
    <title>LOGEO</title>

    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename="estilos.css")}}">
</head>
<body>
    <div id="fondo">
        <h1 class="bustexto">INICIO DE SECCION</h1>



        <label class="label">Usuario</label>
        <input class="input" type="text" />

        <label class="label">Contraseña</label>
        <input class="input" type="password" />


        <a href="/ventana"><button id="btn_iniciar">INICIAR SESIÓN</button></a>

    </div>
</body>
</html>
