<!DOCTYPE html>
<html>
<head>
    <title>OPERADOR</title>

    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename="estilos.css")}}">

</head>
<body>
    <div class="ventana">
        <div class="fondo">
            <h1 class="label">OPERADOR</h1>

            <div class="form-row">
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" class="input-field-small">
            </div>

            <div class="form-row">
                <label for="app">Apellido paterno</label>
                <input type="text" id="app" class="input-field-small">
            </div>

            <div class="form-row">
                <label for="amm">Apellido materno</label>
                <input type="text" id="amm" class="input-field-small">
            </div>

            <div class="form-row">
                <label for="num">Numero de empleado</label>
                <input type="text" id="num" class="input-field-small">
            </div>

            <div class="form-row">
                <label for="licencia">Licencia</label>
                <input type="text" id="licencia" class="input-field-small">
            </div>

            <div class="form-row">
                <label for="vigencia">Vigencia</label>
                <input type="text" id="vigencia" class="input-field-small">
            </div>


            <div class="button-operador">


        </div>
    </div>

    <script src="script.js"></script>
</body>
</html>
