<!DOCTYPE html>
<html>

<head>
    <title>BIENVENIDO</title>

    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename="estilos.css")}}">

</head>

<body>
    <div class="ventana">
        <h1 class="bustexto">Gestion de pollobus</h1>
        <div class="fondo">

            <a href="/ruta"><button class="btn" id="btnregistrarruta">Ruta</button></a>
            <a href="/alumno"><button class="btn" id="btnalumno">Alumnos</button></a>
            <a href="/autobus"><button class="btn" id="btnatobus">Autobus</button></a>
            <a href="/operador"><button class="btn" id="btnconducto">Operadores</button></a>

        </div>
    </div>

    
</body>

</html>
